{% extends 'base.html' %}

{% block title %}Autonomous Car Assignment{% endblock %}

{% block main_content %}

    <nav id="sidebar">
        <img src="../static/images/points-logo-transparent.png" alt="PointsLogo">
        <a href="/">
            <i class="fa fa-fw fa-home large-icon"></i>
            Home Page
        </a>
        <a href="/tax-calculator/">
            <i class="fas fa-calculator small-icon"></i>
            A1: Tax Calculator
        </a>
        <a class="active" href="/autonomous-car/">
            <i class="fas fa-car medium-icon"></i>
            A2: Autonomous Car
        </a>
    </nav>
    <main>
        <header>
            <div id="title-section" class="panel centered">
                <h1 class="points-grey-text">
                    Autonomous Car Assignment
                </h1>
            </div>
        </header>
        <article>
            <div class="panel assignment-banner">
                <div class="panel-item" style="width:65%">
                    <h3>Assignment Description:</h3>
                    <p>
                        Points is developing an autonomous vehicle program. It's going well, but we need to iron out a
                        few bugs. The Engineering Team would like to demo our progress to the Product Team, so we need
                        to develop a tool that can take track and travel log data, and then determine whether our
                        autonomous vehicle successfully navigated the track.
                        <br><br>
                        Track and travel log data are encoded as JSON. The "track" array contains entries for any
                        position of the track where there is an obstacle in any of the 3 lanes ("a", "b" or "c").
                        The "travelLog" array contains entries for any position of the track where the car has changed
                        lanes, either to the "left" or "right".
                        <br><br>
                        The autonomous car starts at position 0 on lane "b", drives itself to the end of the track and
                        can shift only one lane per position. The simulation should end when the car hits an obstacle,
                        goes out-of-bounds, or when all "track" and "travelLog" entries have been processed.
                    </p>
                </div>
                <img class="panel-item"
                     src="../static/images/car-icon-1.png"
                     alt="AutomatedCar-Image"
                     width="275px"
                >
            </div>

            <div id="instruction-section" class="tab">
                <button id="defaultOpen" class="tablink" onclick="openPage('front-end-instructions', this, '#42C8F3')">
                    Front End Instructions
                </button>
                <button class="tablink" onclick="openPage('back-end-instructions', this, '#42C8F3')">
                    Back End Instructions
                </button>
                <div id="front-end-instructions" class="tabcontent">
                    <h3>Front End Instructions</h3>
                    <ul>
                        <li>Create a simple, yet visually appealing and responsive design.</li>
                        <li>Create a <a href="https://en.wikipedia.org/wiki/Single-page_application">single page web application</a>
                            (a web app that dynamically rewrites the current page with new data) with two screens.
                        </li>
                        <ul>
                            <li>
                                <strong>First Screen:</strong> Display a form, which includes an input field to accept
                                the user's gross income and a submit button that navigates to the second screen.
                            </li>
                            <li>
                                <strong>Second Screen:</strong> Display how much the user owes in income tax, the
                                effective tax rate and the break down of tax rates and the amounts owed for each applicable tax bracket.
                            </li>
                        </ul>
                        <li>The user must be able to navigate back to the first page. </li>
                        <li>Target the latest stable version of <a href="https://www.google.com/chrome/">Google Chrome</a></li>
                    </ul>
                </div>

                <div id="back-end-instructions" class="tabcontent">
                    <h3>Back End Instructions</h3>
                    <ul>
                         <li>
                             Implement a simple yet intuitive command line interface that takes in the user's gross
                             income and outputs the user owes in income tax,<br> the effective tax rate and the break down
                             of tax rates and the amounts owed for each applicable tax bracket.
                         </li>
                    </ul>
                </div>
            </div>

            <div id="endpoint-section" class="endpoint-section">
                <h3 class="description">Level 1 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/autonomous-car/routes/empty-route</pre>
                    <button class="panel-item endpoint-button" onclick="window.open('/autonomous-car/routes/empty-route', '_blank');">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <h3 class="description">Level 2 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/autonomous-car/routes/random/</pre>
                    <button class="panel-item endpoint-button" onclick="window.open('/autonomous-car/routes/random/', '_blank');">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <div class="alert centered">
                    <strong><i class="fas fa-exclamation-triangle"></i> WARNING:</strong>
                    This Endpoint Includes Some Gotchas.
                </div>
            </div>
        </article>
    </main>
{% endblock main_content %}
