<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../static/images/points-logo-vertical.png">

        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/48fcb9931e.js" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Instructions for Points' interview server to test dev applicants.">

        <title>Points - {% block title %}{% endblock title %}</title>
    </head>
    <body>
        {% block main_content %}
        {% endblock main_content %}
    </body>
</html>
