{% extends 'base.html' %}

{% block title %}Tax Calculator Assignment{% endblock %}

{% block main_content %}
    <nav id="sidebar">
        <img src="../static/images/points-logo-transparent.png" alt="PointsLogo">
        <a href="/">
            <i class="fa fa-fw fa-home large-icon"></i>
            Home Page
        </a>
        <a class="active" href="/tax-calculator/">
            <i class="fas fa-calculator small-icon"></i>
            Tax Calculator App
        </a>
        <a href="/autonomous-car/">
            <i class="fas fa-car medium-icon"></i>
            Autonomous Car App
        </a>
    </nav>
    <main>
        <header>
            <div id="title-section" class="panel centered">
                <h1 class="points-grey-text">
                    Tax Calculator Application
                </h1>
            </div>
        </header>
        <article>
            <div class="panel assignment-banner">
                <div class="panel-item" style="width:65%">
                    <h3>Assignment Description:</h3>
                    <p>
                        Points wants to build an income tax calculator to help show its users how marginal taxes work.
                        <br>
                        This calculator will take in a user's annual gross income and the year they are filing.
                        After fetching the corresponding tax bracket through an API request, the calculator will output:
                        <ol>
                            <li>The total amount they owe in federal income tax.</li>
                            <li>The effective tax rate.</li>
                            <li>A break down of tax rates and amounts for each applicable tax bracket,.</li>
                        </ol>
                    </p>

                    <h3>General Requirements: <button onclick="myFunction('general')">Try it</button></h3>
                    <div id="general" class="myDIV">
                        <ul>
                            <li>
                                Your application must include a README with instructions on how to setup, run and test
                                the calculator.
                            </li>
                            <li>Unit tests.</li>
                            <li><em>Optional:</em> Comments where you feel they would be most helpful.</li>
                        </ul>
                    </div>

                    <h3>Front End Application Requirements: <button onclick="myFunction('front')">Try it</button></h3>
                    <div id="front" class="myDIV">
                        <ul>
                            <li>
                                Your application must include a README with instructions on how to setup, run and test
                                the calculator.
                            </li>
                            <li>Unit tests.</li>
                            <li><em>Optional:</em> Comments where you feel they would be most helpful.</li>
                        </ul>
                    </div>


                    <h3>Back end Application Requirements: <button onclick="myFunction('back')">Try it</button></h3>
                    <div id="back" class="myDIV">
                        <ul>
                            <li>
                                Your application must include a README with instructions on how to setup, run and test
                                the calculator.
                            </li>
                            <li>Unit tests.</li>
                            <li><em>Optional:</em> Comments where you feel they would be most helpful.</li>
                        </ul>
                    </div>
                </div>
                <img class="panel-item"
                     src="../static/images/calculator-icon.png"
                     alt="TaxCalculator-Image"
                     width="275px"
                >
            </div>

            <div>
                <br>
                <h3 class="description">Level 1 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/tax-calculator/brackets/</pre>
                    <button class="panel-item endpoint-button" onclick="location.href = '/tax-calculator/brackets/';">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <h3 class="description">Level 2 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/tax-calculator/brackets/&lt;2019 | 2020 | ...&gt;</pre>
                    <button class="panel-item endpoint-button" onclick="location.href = '/tax-calculator/brackets/';">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <div class="alert centered">
                    <strong><i class="fas fa-exclamation-triangle"></i> WARNING:</strong>
                    This Endpoint Includes Some Gotchas.
                </div>
            </div>
        </article>
    </main>

    <script>
        function myFunction(id) {
          var x = document.getElementById(id);
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
{% endblock main_content %}
