{% extends 'base.html' %}
{% block styles %}
.level-2-note {
    margin-left: 8px;
}
{% endblock styles %}
{% block title %}Tax Calculator{% endblock %}
{% block main_content %}
    <h1>Tax Calculator Assignment</h1>
    <div>Build an application / tool in React or Python with the following criteria:</div>
    <ul>
        <li>Fetches the tax rates from this API server</li>
        <li>Takes a yearly salary as input</li>
        <li>Calculates and displays the total taxes owed for the salary</li>
        <li>Displays the amount of taxes owed per band</li>
        <li>Displays the effective rate</li>
    </ul>
    <p>
        There are different levels to this assignment, level 1 being the easiest, level 2
        having some gotchas, etc. <br/>If you complete a level with ease, feel free to jump to
        the next one. <strong>Please timebox your solution to 1 day max</strong>.
    </p>
    <h2>Level 1</h2>
    <ul>
        <li>Fetch the tax rates from this server at: <a href="/tax-calculator/brackets/">http://localhost:5000/tax-calculator/brackets/</a></li>
    </ul>
    <div class='row'>
        <h2>Level 2 </h2><em class='level-2-note'> (returns some bad responses, handle accordingly)</em>
    </div>
    <ul>
        <li>Fetch the tax rates by year: <a href="/tax-calculator/brackets/2020">http://localhost:5000/tax-calculator/brackets/[2019|2020|...]</a></li>
    </ul>
{% endblock main_content %}