{% extends 'base.html' %}

{% block title %}Tax Calculator Assignment{% endblock %}

{% block main_content %}
    <nav id="sidebar">
        <img src="../static/images/points-logo-transparent.png" alt="PointsLogo">
        <a href="/">
            <i class="fa fa-fw fa-home large-icon"></i>
            Home Page
        </a>
        <a class="active" href="/tax-calculator/">
            <i class="fas fa-calculator small-icon"></i>
            Tax Calculator App
        </a>
        <a href="/autonomous-car/">
            <i class="fas fa-car medium-icon"></i>
            Autonomous Car App
        </a>
    </nav>
    <main>
        <header>
            <div id="title-section" class="panel centered">
                <h1 class="points-grey-text">
                    Tax Calculator Application
                </h1>
            </div>
        </header>
        <article>
            <div class="panel assignment-banner">
                <div class="panel-item" style="width:65%">
                    <h3>Assignment Description:</h3>
                    <p>
                        Points wants to build an income tax calculator to help show its users how marginal taxes work.
                        <br>
                        This calculator will take in a user's annual gross income and the year they are filing.
                        After fetching the corresponding tax bracket through an API request, the calculator will output:
                        <ol>
                            <li>The total amount they owe in federal income tax.</li>
                            <li>The effective tax rate.</li>
                            <li>A break down of tax rates and amounts for each applicable tax bracket,.</li>
                        </ol>
                    </p>
                </div>
                <img class="panel-item"
                     src="../static/images/calculator-icon.png"
                     alt="TaxCalculator-Image"
                     width="275px"
                >
            </div>
            <div id="instruction-section" class="tab">
                <button id="defaultOpen" class="tablink" onclick="openPage('front-end-instructions', this, '#42C8F3')">
                    Front End Instructions
                </button>
                <button class="tablink" onclick="openPage('back-end-instructions', this, '#42C8F3')">
                    Back End Instructions
                </button>
                <div id="front-end-instructions" class="tabcontent">
                    <h3>Front End Instructions</h3>
                    <ul>
                        <li>Create a simple, yet visually appealing and responsive design.</li>
                        <li>Create a <a href="https://en.wikipedia.org/wiki/Single-page_application">single page web application</a>
                            (a web app that dynamically rewrites the current page with new data) with two screens.
                        </li>
                        <ul>
                            <li>
                                <strong>First Screen:</strong> Display a form, which includes an input field to accept
                                the user's gross income and a submit button that navigates to the second screen.
                            </li>
                            <li>
                                <strong>Second Screen:</strong> Display how much the user owes in income tax, the
                                effective tax rate and the break down of tax rates and the amounts owed for each applicable tax bracket.
                            </li>
                        </ul>
                        <li>The user must be able to navigate back to the first page. </li>
                        <li>Target the latest stable version of <a href="https://www.google.com/chrome/">Google Chrome</a></li>
                    </ul>
                </div>

                <div id="back-end-instructions" class="tabcontent">
                    <h3>Back End Instructions</h3>
                    <ul>
                         <li>
                             Implement a simple yet intuitive command line interface that takes in the user's gross
                             income and outputs the user owes in income tax,<br> the effective tax rate and the break down
                             of tax rates and the amounts owed for each applicable tax bracket.
                         </li>
                    </ul>
                </div>
            </div>
            <div id="endpoint-section" class="endpoint-section">
                <h3 class="description">Level 1 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/tax-calculator/brackets/</pre>
                    <button class="panel-item endpoint-button" onclick="window.open('/tax-calculator/brackets/', '_blank');">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <h3 class="description">Level 2 Endpoint: </h3>
                <div class="description panel">
                    <pre class="panel-item">http://localhost:5000/tax-calculator/brackets/&lt;2019 | 2020 | ...&gt;</pre>
                    <button class="panel-item endpoint-button" onclick="window.open('/tax-calculator/brackets/', '_blank');">
                        Go To Endpoint
                        <i class="fas fa-mouse-pointer medium-icon"></i>
                    </button>
                </div>

                <div class="alert centered">
                    <strong><i class="fas fa-exclamation-triangle"></i> WARNING:</strong>
                    This Endpoint Includes Some Gotchas.
                </div>
            </div>
        </article>
    </main>

    <script>
        function openPage(pageName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock main_content %}
